*
!package.json
!bun.lock
!bunfig.toml
!tsconfig.json
!LICENSE
!src/
!src/**
!plugins/
!plugins/**
!migrations/
!migrations/**
!scripts/
!scripts/plugins.ts
**/node_modules
**/.env
**/.env.*
**/*.test.ts
**/.git
